---
import Badge from '../components/badge.astro';
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import LinkedinIcon from '../components/icons/linkedin.astro';
import TagsSocial from '../components/tagsSocial.astro';
import GithubIcon from '../components/icons/github.astro';
import MailIcon from '../components/icons/mail.astro';
import Experience from '../components/experience.astro';
import SectionContainer from '../components/sectionContainer.astro';
import Briefcase from '../components/icons/briefcase.astro';
---

<Layout title="Portfolio de Yan - Desarrollador web." description="Contrata a yan">
	<main>
		<SectionContainer class="py-44 pb-24">
		<!-- <Welcome /> -->
		 <!-- <img class="rounded-full w-12 h-12" src="" alt="image"/> -->
		 <h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-4">
			Hey, soy Yan <a 
			href="https://www.linkedin.com/in/yan-monasterios-a1231a258/" 
			target="_blanck"
			rel="noopener"
			class="flex justify-center items-center"
			
			>
			<Badge>disponible para trabajar</Badge>
			</a>
		</h1>
		 <h2 class="text-xl text-wrap">
			<span class="opacity-80">Desarrollador Web con experiencia en soluciones innovadoras.</span>
			<span class="text-blue-300/90"> Mi pasion es
			mantenerme en constante formación.</span>
		 </h2>

		 	<nav class="flex gap-x-4 mt-8">
				<TagsSocial href="https://www.linkedin.com/in/yan-monasterios-a1231a258/">
					<LinkedinIcon class="size-6" />
					Linkedin
				</TagsSocial>
				<TagsSocial href="https://www.github.com/YanMonasterios">
					<GithubIcon class="size-6" /> 
					GitHub
				</TagsSocial>
				<TagsSocial href="https://www.github.com/YanMonasterios">
					<MailIcon class="size-6" /> 
					Email
				</TagsSocial>
				
			</nav>
		</SectionContainer>

		<SectionContainer id="experiencia">
			<h2 class="text-2xl font-semibold mb-5 flex gap-x-3 items-center">
				<Briefcase class="size-7"/>
				Experiencia Laboral
			</h2>
			<Experience/>
		</SectionContainer>
	</main>
</Layout>
